.vs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

createDB/
curlCommands/
dbCommands/
e2e/
node_modules/
docs/
db/
home2home/

.idea/

